In [1]:
import pandas as pd

df = pd.read_csv('merged_output.csv', dtype=str)

new_indicator = 'Agricultural water withdrawal as % of total renewable water resources'
years = [str(year) for year in range(1960, 2024)]

# Construcing new rows for each pair of country name and country code
countries = df[['Country Name', 'Country Code']].drop_duplicates()
new_rows = pd.DataFrame([
    {
        'Country Name': country,
        'Country Code': code,
        'Indicator Name': new_indicator,
        **{year: pd.NA for year in years}
    }
    for country, code in zip(countries['Country Name'], countries['Country Code'])
])

# Combining and sorting
df_combined = pd.concat([df, new_rows], ignore_index=True)
df_sorted = df_combined.sort_values(by=['Country Name', 'Country Code', 'Indicator Name'], kind='stable').reset_index(drop=True)

output_path = 'extended_output_sorted.csv'
df_sorted.to_csv(output_path, index=False)

df_sorted.groupby('Country Name').head(8).head(16)

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,Agricultural land (% of land area),NaN,57.878355794735,57.9550158686353,58.0316759425356,58.1160020238259,58.123668031216,58.1926620977263,...,58.123668031216,58.123668031216,58.123668031216,58.123668031216,58.2769881790166,58.2769881790166,58.7415482268525,58.7415482268525,58.7415482268525,NaN
1,Afghanistan,AFG,Agricultural water withdrawal as % of total re...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.1370413719574,20.6343227166798,25.7403140364582,26.4201990834448,22.0428967527575,25.7739707394105,29.9755825210461,33.5976188725451,33.7014323213923,34.5208917527827
3,Afghanistan,AFG,"Agriculture, forestry, and fishing, value adde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4537457828.43798,3948217043.4989,4663262627.13517,4954700541.75017,3979453237.53176,4845363322.05338,5981905980.86851,4791018919.53499,4885778832.03434,5949003095.47994
4,Afghanistan,AFG,Fertilizer consumption (kilograms per hectare ...,NaN,0.143790849673203,0.142857142857143,0.141935483870968,0.141025641025641,0.141025641025641,0.1914486279515,...,10.1661124694377,13.3244919510625,13.6801462026135,20.4525288998571,17.3522286374134,10.9725,8.71449482692553,5.20257248690765,5.05506194916337,NaN
5,Afghanistan,AFG,Forest area (% of land area),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,1.85278199408184,NaN
6,Afghanistan,AFG,Permanent cropland (% of land area),NaN,0.153320147800622,0.153320147800622,0.153320147800622,0.160986155190654,0.168652162580685,0.183984177360747,...,0.213115005442865,0.222314214310903,0.277509467519127,0.323505511859313,0.331171519249345,0.340370728117382,0.340370728117382,0.340370728117382,0.340370728117382,NaN
7,Africa Eastern and Southern,AFE,Agricultural land (% of land area),NaN,40.4884524207293,40.4190804977299,40.4455406683479,40.4138108402359,40.3505782221657,40.3575953496702,...,45.9780444690021,46.0506179101141,46.1616694417186,46.2460594392602,46.3695581728235,46.4191789506879,46.4569755495826,46.5105662241913,46.541210005602,NaN
8,Africa Eastern and Southern,AFE,Agricultural water withdrawal as % of total re...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,Africa Eastern and Southern,AFE,"Agriculture, forestry, and fishing, value adde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.9650929912911,12.8562394206678,12.9927693028971,12.446983160879,11.9139864893255,12.6275737797666,14.6442681024484,13.4044384367582,13.8407446717648,14.2318015672532
10,Africa Eastern and Southern,AFE,"Agriculture, forestry, and fishing, value adde...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,117103353495.778,115484745574.742,107702626366.089,121109012643.245,120606000121.296,127503286223.709,136688395015.424,145538044079.149,164901839784.019,177253170743.684
11,Africa Eastern and Southern,AFE,Fertilizer consumption (kilograms per hectare ...,NaN,7.26728074782742,8.26553785616338,9.23053139132983,10.9175498676367,11.6461202919032,12.9309895421382,...,19.9249609215455,19.2297092857244,21.0641626674944,24.2742316498709,23.6559533451222,23.9177658085101,28.9739734911917,27.1656903280768,25.1226694394504,NaN
12,Africa Eastern and Southern,AFE,Forest area (% of land area),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,31.4706339012314,31.2604197322287,31.0396815593755,30.8243162615385,30.6115118196972,30.3916258622835,30.1742524356603,29.9551937873237,29.7372051021705,NaN
13,Africa Eastern and Southern,AFE,Permanent cropland (% of land area),NaN,0.36715960568604,0.38922823882694,0.397814930149421,0.423122261789981,0.43240045099373,0.437532131590734,...,0.723472598756528,0.742202620184358,0.749519857559215,0.760806195531253,0.774457049527592,0.799308462965086,0.828192305357796,0.83346637232487,0.814966383725036,NaN
14,Africa Western and Central,AFW,Agricultural land (% of land area),NaN,32.9064671953379,32.9482392241046,32.993102918451,33.0307791452682,33.0779055731558,33.103534374316,...,39.9207438164536,40.2124235942064,40.3000928388707,40.475866835143,40.8043266583976,40.9488697428069,41.1203255554806,41.3739993917601,41.4328200143868,NaN
15,Africa Western and Central,AFW,Agricultural water withdrawal as % of total re...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [2]:
ext = pd.read_csv('extended_output_sorted.csv', dtype=str)

aqua = pd.read_csv('AQUASTAT Dissemination System.csv', dtype={'Area': str, 'Year': int, 'Value': float})

indicator = 'Agricultural water withdrawal as % of total renewable water resources'

# Filter for the indicator and average by (Area, Year)
aqua_filt = aqua[aqua['Variable'] == indicator]
aqua_agg = aqua_filt.groupby(['Area', 'Year'], as_index=False)['Value'].mean()

aqua_pivot = aqua_agg.pivot(index='Area', columns='Year', values='Value')   # Area as index, Year as columns
aqua_pivot.columns = aqua_pivot.columns.astype(str)      

years = [str(y) for y in range(1960, 2024)]

# Populate by matching Country Name and Year
mask = ext['Indicator Name'] == indicator
for yr in years:
    ext.loc[mask, yr] = ext.loc[mask, 'Country Name'].map(aqua_pivot.get(yr, pd.Series(dtype=float)))

output_path = 'extended_output_filled.csv'
ext.to_csv(output_path, index=False)

ext.loc[mask, ['Country Name', 'Country Code', 'Indicator Name'] + years].head(10)

,Country Name,Country Code,Indicator Name,1960,1961,1962,1963,1964,1965,1966,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Afghanistan,AFG,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.613807,30.613807,30.613807,30.613807,30.613807,30.613807,30.613807,30.613807,30.613807,NaN
8,Africa Eastern and Southern,AFE,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Africa Western and Central,AFW,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Albania,ALB,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.074172,2.119205,2.112583,2.31457,2.162252,2.291391,1.804636,1.86755,1.870861,NaN
29,Algeria,DZA,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.752864,53.244193,54.855576,57.178366,59.238307,61.298249,63.35819,61.129682,63.349619,NaN
36,American Samoa,ASM,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Andorra,AND,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Angola,AGO,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.098854,0.098854,0.098854,0.098854,0.098854,0.098854,0.098854,0.098854,0.098854,NaN
57,Antigua and Barbuda,ATG,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.461538,3.461538,3.461538,3.461538,3.461538,3.461538,3.461538,3.461538,3.461538,NaN
64,Arab World,ARB,Agricultural water withdrawal as % of total re...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import pandas as pd
import pycountry
import pycountry_convert as pc

df = pd.read_csv('extended_output_filled.csv', dtype=str)

years = [str(y) for y in range(1960, 2024)]
df[years] = df[years].apply(pd.to_numeric, errors='coerce')

# ISO3-to-Continent mapping
def iso3_to_continent(iso3):
    try:
        iso2 = pycountry.countries.get(alpha_3=iso3).alpha_2
        code = pc.country_alpha2_to_continent_code(iso2)
        return {
            'AF': 'Africa',
            'AS': 'Asia',
            'EU': 'Europe',
            'NA': 'North America',
            'OC': 'Oceania',
            'SA': 'South America',
            'AN': 'Antarctica',
        }.get(code, 'Other')
    except:
        return 'Other'

df['Continent'] = df['Country Code'].apply(iso3_to_continent)

# Sum the monetary indicator by continent
sum_inds = ['Agriculture, forestry, and fishing, value added (current US$)']

sum_df = (df[df['Indicator Name'].isin(sum_inds)]
          .groupby(['Continent','Indicator Name'], as_index=False)[years]
          .sum(numeric_only=True))

# Average all other indicators by continent
mean_df = (df[~df['Indicator Name'].isin(sum_inds)]
           .groupby(['Continent','Indicator Name'], as_index=False)[years]
           .mean(numeric_only=True))

# Replace Country Name/Code with continent
agg = pd.concat([sum_df, mean_df], ignore_index=True)
agg['Country Name'] = agg['Continent']
agg['Country Code'] = ''

cols = ['Country Name','Country Code','Indicator Name'] + years
agg = agg[cols]
agg.to_csv('aggregated_by_continent.csv', index=False)

print("已生成：aggregated_by_continent.csv")
print(agg.head())

已生成：aggregated_by_continent.csv
    Country Name Country Code  \
0         Africa
1           Asia
2         Europe
3  North America
4        Oceania

                                      Indicator Name          1960  \
0  Agriculture, forestry, and fishing, value adde...  5.039080e+09
1  Agriculture, forestry, and fishing, value adde...  4.416795e+10
2  Agriculture, forestry, and fishing, value adde...  6.095192e+09
3  Agriculture, forestry, and fishing, value adde...  4.112402e+08
4  Agriculture, forestry, and fishing, value adde...  0.000000e+00

           1961          1962          1963          1964          1965  \
0  5.342556e+09  5.374349e+09  5.750809e+09  6.097495e+09  8.359606e+09
1  4.914107e+10  5.003346e+10  5.653292e+10  6.326614e+10  6.807401e+10
2  5.696093e+09  6.916855e+09  6.974673e+09  7.001966e+09  7.381315e+09
3  2.524287e+08  2.610075e+08  4.762812e+08  4.825063e+08  4.326035e+09
4  1.200640e+08  1.237600e+08  1.705063e+08  1.761359e+08  1.877148e+08

           1966  ...          2014          2015          2016          2017  \
0  8.791882e+09  ...  3.637786e+11  3.468114e+11  3.251574e+11  3.273297e+11
1  6.756701e+10  ...  1.932686e+12  1.931006e+12  1.962598e+12  2.062707e+12
2  8.606330e+09  ...  3.971886e+11  3.239465e+11  3.189780e+11  3.560787e+11
3  4.481241e+09  ...  3.040361e+11  2.843529e+11  2.713695e+11  2.869305e+11
4  2.054006e+08  ...  4.806270e+10  4.547283e+10  4.506086e+10  5.408890e+10

           2018          2019          2020          2021          2022  \
0  3.479454e+11  3.715657e+11  3.941649e+11  4.184917e+11  4.501092e+11
1  2.112444e+12  2.200967e+12  2.342020e+12  2.613427e+12  2.666818e+12
2  3.674125e+11  3.651581e+11  3.657408e+11  4.200525e+11  4.386395e+11
3  2.885131e+11  2.845205e+11  3.044639e+11  3.060637e+11  9.262399e+10
4  5.310771e+10  4.762213e+10  4.488567e+10  5.706885e+10  5.210917e+10

           2023
0  4.442371e+11
1  2.595664e+12
2  4.408481e+11
3  1.069589e+11
4  5.058688e+10

[5 rows x 67 columns]

In [6]:
import pandas as pd

agg = pd.read_csv('aggregated_by_continent.csv', dtype=str)

years = [str(y) for y in range(1960, 2024)]

agg[years] = agg[years].apply(pd.to_numeric, errors='coerce')

# Sort according to continents' names
agg_sorted = agg.sort_values(by='Country Name').reset_index(drop=True)

agg_sorted.to_csv('aggregated_by_continent_sorted.csv', index=False)

print(agg_sorted.head())

  Country Name Country Code  \
0       Africa          NaN
1       Africa          NaN
2       Africa          NaN
3       Africa          NaN
4       Africa          NaN

                                      Indicator Name          1960  \
0  Agriculture, forestry, and fishing, value adde...  5.039080e+09
1                Permanent cropland (% of land area)           NaN
2                       Forest area (% of land area)           NaN
3  Fertilizer consumption (kilograms per hectare ...           NaN
4  Agricultural water withdrawal as % of total re...           NaN

           1961          1962          1963          1964          1965  \
0  5.342556e+09  5.374349e+09  5.750809e+09  6.097495e+09  8.359606e+09
1  2.268256e+00  2.290588e+00  2.307902e+00  2.332944e+00  2.375705e+00
2           NaN           NaN           NaN           NaN           NaN
3  1.331979e+01  1.427421e+01  1.576332e+01  1.654202e+01  1.629499e+01
4           NaN           NaN           NaN           NaN           NaN

           1966  ...          2014          2015          2016          2017  \
0  8.791882e+09  ...  3.637786e+11  3.468114e+11  3.251574e+11  3.273297e+11
1  2.395184e+00  ...  3.861026e+00  3.945555e+00  3.950008e+00  4.016107e+00
2           NaN  ...  2.823407e+01  2.810274e+01  2.796182e+01  2.782548e+01
3  1.392847e+01  ...  4.014215e+01  4.658077e+01  4.314332e+01  4.847035e+01
4           NaN  ...  2.379971e+01  2.396792e+01  2.369603e+01  2.363104e+01

           2018          2019          2020          2021          2022  \
0  3.479454e+11  3.715657e+11  3.941649e+11  4.184917e+11  4.501092e+11
1  4.116644e+00  4.162247e+00  4.220531e+00  4.308677e+00  4.330730e+00
2  2.768418e+01  2.754029e+01  2.739741e+01  2.725383e+01  2.711067e+01
3  4.397841e+01  5.020775e+01  4.413184e+01  4.435117e+01  4.398362e+01
4  2.390555e+01  2.404752e+01  2.425426e+01  2.417671e+01  2.417180e+01

           2023
0  4.442371e+11
1           NaN
2           NaN
3           NaN
4           NaN

[5 rows x 67 columns]

In [7]:
import pandas as pd
import numpy as np
import pycountry
import pycountry_convert as pc

df = pd.read_csv('extended_output_filled.csv', dtype=str)

years = [str(y) for y in range(1960, 2024)]
df[years] = df[years].apply(pd.to_numeric, errors='coerce')

def iso3_to_continent(iso3):
    try:
        iso2 = pycountry.countries.get(alpha_3=iso3).alpha_2
        code = pc.country_alpha2_to_continent_code(iso2)
        return {
            'AF': 'Africa','AS': 'Asia','EU': 'Europe',
            'NA': 'North America','OC': 'Oceania',
            'SA': 'South America','AN': 'Antarctica',
        }[code]
    except:
        return 'Other'

df['Continent'] = df['Country Code'].apply(iso3_to_continent)

sum_inds = ['Agriculture, forestry, and fishing, value added (current US$)']

# Strict - compute only if all values are present, otherwise return NaN
def sum_if_complete(s): return s.sum() if s.notna().all() else np.nan
def mean_if_complete(s): return s.mean() if s.notna().all() else np.nan

# Sum and average by continent
sum_df = df[df['Indicator Name'].isin(sum_inds)]
sum_df = sum_df.groupby(['Continent','Indicator Name'], as_index=False)[years].agg(sum_if_complete)

mean_df = df[~df['Indicator Name'].isin(sum_inds)]
mean_df = mean_df.groupby(['Continent','Indicator Name'], as_index=False)[years].agg(mean_if_complete)

agg = pd.concat([sum_df, mean_df], ignore_index=True)
agg['Country Name'] = agg['Continent']
agg['Country Code'] = ''

cols = ['Country Name','Country Code','Indicator Name'] + years
agg = agg[cols]
agg.to_csv('aggregated_by_continent_strict.csv', index=False)

print("已生成：aggregated_by_continent_strict.csv")
print(agg.head())

已生成：aggregated_by_continent_strict.csv
    Country Name Country Code  \
0         Africa
1           Asia
2         Europe
3  North America
4        Oceania

                                      Indicator Name  1960  1961  1962  1963  \
0  Agriculture, forestry, and fishing, value adde...   NaN   NaN   NaN   NaN
1  Agriculture, forestry, and fishing, value adde...   NaN   NaN   NaN   NaN
2  Agriculture, forestry, and fishing, value adde...   NaN   NaN   NaN   NaN
3  Agriculture, forestry, and fishing, value adde...   NaN   NaN   NaN   NaN
4  Agriculture, forestry, and fishing, value adde...   NaN   NaN   NaN   NaN

   1964  1965  1966  ...  2014  2015  2016  2017  2018  2019  2020  2021  \
0   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   2022  2023
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   NaN   NaN
4   NaN   NaN

[5 rows x 67 columns]